<html lang="en">
    <!-- 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Blog <%= title %>
        </title>
    </head>
    -->
    <%- include('./partials/head.ejs') %>
    <body>
        <!--
        <nav>
            <div class="side-title">
                <a href="/"><h1>Blog</h1></a>
                <p>A Ritwik site</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>
    -->
        <%- include('./partials/nav.ejs') %>
        <div class="blogs content">
            <h2>All blogs</h2>
            <% if( blogs.length > 0) { %>
                <% blogs.forEach(blog => { %>
                    <a class="single" href="/blogs/<%= blog._id %>">
                    <h3 class="title"><%= blog.title %></h3>
                    <p class="snippet"><%= blog.snippet %></p>
                    <p class="at"><%= blog.createdAt %></p><br>

                    </a>

                <% }) %>

            <% } %>
        </div>
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>